<div class="container menu">
  <div class="battle-container" (click)="navigate('battle')">
    <img src="./../../../../../assets/images/swoords-crossed.svg"
      alt="battle logo">
    <h2>Battle</h2>
  </div>
  <div class="party-container" (click)="navigate('party')">
    <img src="./../../../../../assets/images/party.svg" alt="party logo">
    <h2>Party</h2>
  </div>
  <div class="graveyard-container" (click)="navigate('graveyard')">
    <img src="./../../../../../assets/images/graveyard.png"
      alt="graveyard logo">
    <h2>Graveyard</h2>
  </div>
</div>