.scrolling-wrapper
  overflow-x: scroll
  overflow-y: hidden
  scroll-behavior: smooth
  width: 80%
  padding: 0 0.4rem

.item
  white-space: nowrap
  display:inline-block
  width: auto
  min-width: 8rem
  min-height: 8rem

.selection-title
  margin: 0 10%
  margin-bottom: 0.6rem
  margin-top: 1.6rem

.btn-party
  align-items: center
  font-size: 0.6rem
  height: 1.6rem

.arrows
  font-size: 2rem
  padding-right: 38px
  padding-left: 4px

.button-container
  display: flex
  justify-content: space-between
  margin-top: 1.6rem



.container-fluid
  padding-bottom: 3rem

@media (max-width: 575.98px)
  .scrolling-wrapper
    width: 100%
  .arrow-container
    opacity: 0
    display: none