<h2 mat-dialog-title>Help Page</h2>
<mat-dialog-content class="mat-typography">

  <h3>How to play:</h3>
  <p>1. Create your party!</p>
  <p>2. Battle other players!</p>
  <p>3. Win!</p>
  <p>4. Make Money!</p>
  <p>5. Revive your fallen heroes!</p>
  <p>6. Level up your party!</p>
  <p>7. Do it all again!</p>

  <h3>Profile:</h3>
  <p>
    Your personal information can be accessed in your profile. You can also
    change your account password here, and you can change your profile picture
    by clicking on your profile picture and pasting a link of pretended the
    image.
  </p>

  <h3>Party:</h3>
  <p>
    Here lies your team. You can add new characters to your team, and even
    remove them. You can also heal them and level up them by spending gold. The
    maximum number of characters is 10.
  </p>

  <h3>Graveyard:</h3>
  <p>
    When a character dies in battle they are sent to the graveyard. You can
    revive them by spending gold.
  </p>

  <h3>Battle:</h3>
  <p>
    To battle, you must have at least 5 characters in your party.
  </p>
  <p>
    When you start a battle, an opponent AI of a similar party level will be
    chosen to go against you. You will have to select 5 members of your party to
    battle to the death. Wins who survives in the end. The winner will receive
    the gold and experience of the battle according to the level of the
    opponent.
  </p>
  <p>
    During the battle, both parties will act at the same time. You can either
    use one of your characters' abilities or switch characters. The character's
    abilities will depend on the class of the character in battle. If you back
    out from the battle, you will not gain exp or gold.
  </p>


  <h3>Classes:</h3>
  <h4>Warrior</h4>
  <p>
    Warriors are the characters with the most health points. Their abilities are
    the simplest, requiring less stamina, and dealing less damage.
  </p>
  <h5>
    Warrior passive:
  </h5>
  <p>
    Warriors have a 25% chance of blocking all damage received.
  </p>
  <h5>
    Warrior abilities:
  </h5>
  <p>
    Tackle: Deals half is Strength in damage and restores Stamina.
  </p>
  <p>
    Sword Attack: Deals is Strength in damage and uses Stamina.
  </p>

  <h4>Archer</h4>
  <p>
    Archers are the characters that can deal the most damage. Their abilities
    are complex, being more focused on timing and increasing its passive.
  </p>
  <h5>
    Archer passive:
  </h5>
  <p>
    Archer has a 25% chance of critical strike for 3x its Accuracy.
  </p>
  <h5>
    Archer abilities:
  </h5>
  <p>
    Shoot: Deals is Accuracy in damage and restore Stamina.
  </p>
  <p>
    Aim: Increases the passive percentage by 25% until it is used. Uses Stamina.
  </p>

  <h4>Mage</h4>
  <p>
    Mages are the characters that can deal a lot of sustained damage. Their
    abilities are simple, but require building up mana for sustained damage.
  </p>
  <h5>
    Mage passive:
  </h5>
  <p>
    Mages have a 25% chance of restoring extra mana.
  </p>
  <h5>
    Archer abilities:
  </h5>
  <p>
    Staff Attack: Deals insignificant damage and restores Mana. The more Mana
    they have the more they restore.
  </p>
  <p>
    Fireball: Deals x2 is Intelligence in damage and uses Mana.
  </p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-dialog-close class="btn btn-outline-danger">Close</button>
</mat-dialog-actions>