<div class="container">
  <form class="form-section" [formGroup]="passwordForm"
    (ngSubmit)="updatePassword(formDirective)" #formDirective="ngForm">

    <h3>Security Options</h3>

    <div class="input-element">
      <label for="currentPassword">Current password</label>
      <input class="currentPassword" type="password"
        formControlName="currentPassword"
        [ngStyle]="{'border': currentPassword.hasError('required') && currentPassword.dirty ? '2px solid #f00' : ''}">
      <p class="error-message"
        *ngIf="currentPassword.hasError('required') && currentPassword.dirty">
        * Current password required
      </p>
    </div>

    <div class="input-element">
      <label for="newPasswordword">New password</label>
      <input class="newPasswordword" type="password"
        formControlName="newPassword"
        [ngStyle]="{'border': newPassword.hasError('required') && newPassword.dirty ? '2px solid #f00' : ''}">
      <p class="error-message"
        *ngIf="newPassword.hasError('required') && newPassword.dirty">
        * New password required
      </p>
      <p class="error-message"
        *ngIf="newPassword.hasError('minlength') && newPassword.dirty">
        * New password must be at least 6 characters long
      </p>
    </div>

    <div class="input-element">
      <label for="verifyNewPassword">Repeat new password</label>
      <input class="verifyNewPassword" type="password"
        formControlName="verifyNewPassword"
        [ngStyle]="{'border': verifyNewPassword.hasError('required') && verifyNewPassword.dirty ? '2px solid #f00' : ''}">
      <p class="error-message"
        *ngIf="verifyNewPassword.hasError('required') && verifyNewPassword.dirty">
        * Repeat new password required
      </p>
      <p class="error-message"
        *ngIf="passwordForm.hasError('differentPassword') && verifyNewPassword.dirty &&
        !newPassword.hasError('required') && !verifyNewPassword.hasError('required')">
        * New passwords must match
      </p>
    </div>

    <div class="button_container d-flex flex-row">
      <button class="submit_button btn btn-sm btn-secondary" type="submit"
        [disabled]="passwordForm.invalid">Update password</button>
    </div>

  </form>
</div>